<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>::MEDI-HOMEPAGE::</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
 
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Podkova:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" 
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
</head>
<body>
    <img src="../images/Firstbackground.png" class="fback">
    <section class="section-one">
        <nav>
           <a href="/"><img src="../images/logo.png" class="logo"></a> 
           <div class="nav-links" id="navLinks">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/services">Services</a></li>
                <li><a href="/patient">Patient</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </div>
        <div class="links">
       <ul>
        <li> <a href="/login"  >Log In</a></li>
       </ul>
    </div>
                 <a href="/register" class="sign-btn">Sign Up</a>
         
            </nav>
    </section>

    <section class="section-two">
        <h1 class="text-one">Dedicated to Hope,<br> Healing & Recovery</h1>
        <p class="text-two">We are dedicated to providing essential healthcare<br> 
            treatment to various people in need of our assistant.</p>
            
            <a href="/services" class="sign-btn">Get Started</a>
           <a href="/about" style="text-decoration: none; color: white; padding-left: 1%; font-size: 14px; opacity: 0.5;" >Learn More</a>
            
            <!-- <a href="/services"><button class="get-btn">Get Started</button></a>
            <a href="/about">Learn More</a> -->
           
                       
                  
    </section>
    <img src="../images/Syringe.png" class="syringe">  

   <section class="section-three">
    <div class="recovered">
        <img src="../images/Recovered Patients arrow.png">
    </div>
    <div class="rate">
        <img src="../images/Satisfied Rate arrow.png">
    </div>
   </section>

   <section class="section-four" style="position: relative; margin-top: 550px;">
    <img src="../images/Doctors.png" class="img1">
    <div class="partOne">
    <h1 class="text-one">The best service for your health</h1>
    <ul>
        <li>Neurosurgery</li>
        <li>Cardiologist</li>
        <li>Radiology</li>
        <li>Therapy</li>
    </ul>
    </div>
</section>

<section class="section-five">
    <h1 class="text2">Meet Our Experts</h1>
   <div class="expert-container">

    <div class="picture-one">
        <img src="../images/Female_expert_one.png" class="image-one">
        <div class="expert1">
        <h4 style="font-family: 'Podkova'; position: relative;  top: 20px; padding-left:20px; font-style: normal; font-weight: 600; font-size: 20px; line-height: 120%; color: #191825;">Alexandra Gill</h4>
        <p style="color: rgba(25, 24, 37, 0.75); position: relative; padding-left:20px; font-family: 'Podkova'; font-style: normal;font-weight: 400; font-size: 16px; line-height: 160%;">Rome, Italy</p>
        </div>
        <p style="color: #FF5722;  position: relative; top: -40px; padding-left: 30px;" >4.8 &starf;</p>
    </div>
    <div class="picture-two">
        <img src="../images/Male_expert_one.png" class="image-one">
        <div class="expert2">
        <h4 style="font-family: 'Podkova'; position: relative; top: 20px; padding-left:20px; font-style: normal; font-weight: 600; font-size: 20px; line-height: 120%; color: #191825;">Janny Drown</h4>
        <p style="color: rgba(25, 24, 37, 0.75); position: relative; padding-left:20px;; font-family: 'Podkova'; font-style: normal;font-weight: 400; font-size: 16px; line-height: 160%;">Maldives</p>
        </div>
        <p style="color: #FF5722;  position: relative; top: -40px; padding-left:30px;">4.5 &starf;</p>
    </div>
    <div class="picture-three">
        <img src="../images/female_expert_two.png" class="image-one">
        <div class="expert3">
        <h4 style="font-family: 'Podkova'; position: relative; top: 20px; padding-left:20px; font-style: normal; font-weight: 600; font-size: 20px; line-height: 120%; color: #191825;">Beau Driggs</h4>
        <p style="color: rgba(25, 24, 37, 0.75); position: relative; padding-left:20px; font-family: 'Podkova'; font-style: normal;font-weight: 400; font-size: 16px; line-height: 160%;">United Arab Emirates </p>
        </div>
        <p style="color: #FF5722; position: relative; top: -40px; padding-left:30px;">5.0 &starf;</i></p>
    </div>
<div>
   


</section>
<a href="/expert" class="sign-btn" style="position: relative; left: 944px; top: 110px;">View More</a>

<section class="section-six">
    <img src="../images/Doctors2.png" class="img2">
    <h1 class="text3">Healthcare Services</h1>
    <p class="text-three">Taking care of your health doesn’t have to be difficult. We’re constantly 
        finding ways to make it easy so that you can get Better - and stay that way.</p>
        <a href="/service" class="sign-btn" style="position: relative; top:170px;">Learn More</a>
</section>

<!-- <section class="section-seven">
    <h1 class="text4">What our patient says</h1>
   <div>
    <img src="" class="profile-pic">
    <p>Queen Adams</p>
   </div>
   <div>
    <h4 class="text-four">The specialists are very friendly and the response is
         also fast. I am always very comfortable doing the consultation. The medicine given is also very effective for me.</h4>
   </div>
</section> -->

<section id="reviews">
    <div class="row">
      <h1>What our patient says</h1>
    </div>
    <div class="row review-box">
      <!-- Single Review -->
      <div class="review">
        <img src="../images/Profile Picture.png" class="profile-pic" style="position: relative; left: 45%;">
        <h3 style="text-align: center;">Queen Adams</h3>
       
        <p>The specialists are very friendly and the response is
            also fast. I am always very comfortable doing the consultation. The medicine given is also very effective for me.</p>
        <div class="stars">&starf;&starf;&starf;&starf;&starf;</div>
      
      </div>
      <!-- Single Review -->
      <div class="review">
        <img src="../images/Profile Picture.png" class="profile-pic" style="position: relative; left: 45%;">
        <h3 style="text-align: center;">Queen Adams</h3>
       
        <p>I love my new tooth set, now. Dolor sit amet, consectetur adipisicing elit. Eius, 
            expedita recusandae consectetur est adipisci quaerat iure illo harum quos sunt velit ex nam totam iusto - voluptate mollitia consequuntur unde, iste.</p>
        <div class="stars">&starf;&starf;&starf;&starf;&star;</div>
      
      </div>
      <!-- Single Review -->
      <div class="review">
        <img src="../images/Profile Picture.png" class="profile-pic" style="position: relative; left: 45%;">
        <h3 style="text-align: center;">Queen Adams</h3>
       
        <p>They are real professionals. Lorem dolor sit amet, consectetur adipisicing elit. Eius,
             expedita recusandae consectetur est adipisci quaerat iure illo harum quos sunt velit ex nam totam iusto mollitia consequuntur unde, iste ta.</p>
        <div class="stars">&starf;&starf;&starf;&starf;&starf;</div>
      
      </div>
      <!-- /.review -->
      <button class="prev">&lsaquo;</button>
      <button class="next">&rsaquo;</button>
    </div>
  </section>
  <!-- partial -->
    <script  src="../javascript/script2.js"></script>

<!-- <section class="section-eight"> -->
    <h1 class="text-one">Book Your Appointment</h1>
    <p class="text-four">Book an appointment online now, to be assigned a specialist who can help you out </p>

    <div class="grid" style="margin-top: -10px;">
          
        <form action="/auth" method="post" enctype="multipart/form-data" class="form login">
    
          <div class="form__field">
            <label for="name"><svg class="icon">
                <!-- <use xlink:href="#icon-user"></use> -->
              </svg><span class="hidden">Name</span></label>
            <input autocomplete="name" id="name" type="text" name="name" class="form__input" placeholder="Enter your fullname" required>
          </div>
          <div class="form__field">
            <label for="mail"><svg class="icon">
                <!-- <use xlink:href="#icon-user"></use> -->
              </svg><span class="hidden">Email</span></label>
            <input autocomplete="mail" id="mail" type="text" name="mail" class="form__input" placeholder="Enter your email address" required>
          </div>
          <div class="form__field">
            <label for="login__age"><svg class="icon">
                <use xlink:href="#icon-user"></use>
              </svg><span class="hidden">Age</span></label>
            <input autocomplete="age" id="login__age" type="number" name="age" class="form__input" placeholder="Age" required>
          </div>

          <div class="form__field">
            <% let category = ["Male", "Female"] %>
            <label for="gender"><svg class="icon">
                <!-- <use xlink:href="#icon-user"></use> -->
              </svg><span class="hidden">Gender</span></label>
              <select name="gender">
                <option value="">Choose your Gender</option>
                <% category.forEach((cat) => { %>
                  <option value="<%= cat %>" <% if(typeof(gender) != 'undefined' && (gender === cat)) { %> 
                    selected="selected" <% } %> ><%= cat %></option>
      
                <% }) %>
              </select>
            <!-- <input autocomplete="gender" id="login__gender" type="text" name="age" class="form__input" placeholder="Gender" required> -->
          </div>

         
          <div class="form__field">
            <label for="date"><svg class="icon">
                <!-- <use xlink:href="#icon-user"></use> -->
              </svg><span class="hidden">Date</span></label>
            <input autocomplete="date" id="date" type="datetime-local" name="date" class="form__input" placeholder="Enter the date " required>
          </div>
    
          <div class="form__field">
            <label for="dept"><svg class="icon">
                <!-- <use xlink:href="#icon-user"></use> -->
              </svg><span class="hidden">Department</span></label>
            <input autocomplete="dept" id="dept" type="text" name="dept" class="form__input" placeholder="Choose the department you want to see" required>
          </div>
          <div class="form__field">
            <label for="desc"><svg class="icon">
                <!-- <use xlink:href="#icon-user"></use> -->
              </svg><span class="hidden">Description</span></label>
            <input autocomplete="desc" id="desc" type="text" name="desc" class="form__input" placeholder="Enter the description of your symptom" required>
          </div>
          <input type="Confirm" name="Confirm" value="Confirm" class="">



<!-- <section class="footer">
    <div class="foot-one">
        <img src="" class="logo-two">
<p class="text-five">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
    in a piece of classical Latin literature from 45 BC.</p>

    <form action=" " method="post">
        <label>Email</label>
        <input type="email" name="email">
    </form>
    </div>
    <div class="foot-two">
        <h5 class="text-seven">Company</h5>
        <ul>
           <li> <a href="#">Home</a></li>
           <li> <a href="#">About</a></li>
           <li> <a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="foot-three">
        <h5 class="text-seven">Services</h5>
        <ul>
           <li> <a href="#">Tooth Extraction</a></li>
           <li> <a href="#">Implantation</a></li>
           <li> <a href="#">Dental Care</a></li>
        </ul>
    </div>
    <hr class="foot-line">
    <div class="foot-down">
        <p class="text-seven">© 2023 MEDI NIGERIA | All Rights Reserved.</p>
        <ul>
            <li> <a href="#">FAQ’S</a></li>
            <li> <a href="#">Terms  & Condition</a></li>
            <li> <a href="#">Privacy Policy</a></li>
         </ul>
    </div>
    
</section> -->
</body>
</html>